:root{
    --theme-blue:#2a39bdd3;
  }  
  ::selection{
    background-color: var(--theme-blue);
    color: white;
  }
  .common-details h2{
    font-family: Dancing Script;
    padding: 1rem 1rem .5rem 1rem;
  }
  .common-details h3{
    font-family: Jost;
    padding: .5rem 1rem ;
  }
  .common-details p{
    color: black;
    padding: 1rem;
  }
  .year{
    font-family: Jost;
    font-weight: 300;
    padding: .5rem 0rem;
    color: black;
  }
  .career-detail{
      padding-bottom: 1rem;
  }
  
@media only screen and (min-width: 768px){
  .common-details h2{
    font-family: Dancing Script;
    padding: 2rem 0rem 1rem 0rem;
  }
  .common-details h3{
    font-weight: 300;
    padding: 2rem 0rem;
  }
  .common-details p{
    padding: 2rem 24rem 0rem 0rem;
  }

}