:root{
    --theme-blue:#2a39bdd3;
    --light-grey:rgba(235 231 249);
  }  
body{
    background-color:var(--theme-blue);
    color: white;
    letter-spacing: .1rem;
    line-height: 1.5rem;
    text-align: center;
}
button{
    cursor: pointer;
    padding: 1rem;
    font-family: Jost;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 40px;
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 1.8rem;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.4rem;
}
h5{
    font-size: 1.2rem;
}
h6{
    font-size: 1.2rem;
}
p, ul{    
    font-family: Jost;
    font-weight: 300;
    line-height: 1.9rem;
}
a{
    font-family: Jost;
    font-weight: 300;
    font-size: 1rem;
}
li{
    font-size: 1rem;
}
header{
    padding: 1rem;
}
.nav-bar{
    position: relative;
    display: grid;
    grid-template-columns: 4fr 1fr;
    font-size: 1.4rem;
    align-items: center;
}
.nav-bar h3{
    justify-self: flex-start;
    font-family: Alfa Slab One;
}
.dropdown{
    justify-self: flex-end;
    position: relative;
}
.dropdown button{
    background-color: var(--theme-blue);
      border: none;
      color: white;
      padding: 0rem;
      font-size: 16px;
      cursor: pointer;
      border-radius: 0%;

}
.fa-bars{
    padding: 0rem;
}
.menu{
    position: absolute;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: white;
    text-align: left;
    left: -10rem;
    margin-top: 0.5rem;
    display: none;
}
.menu a{
    color:white;
    font-size: 1rem;
    padding: .5rem;
    padding-right: 0rem;
    text-decoration: none;
    display: block;
    cursor: pointer;
}
.intro-photo-contact{
    display: block;
}
.intro{
    background:url(https://cdn.vox-cdn.com/thumbor/78CD8_rVttHcu7u5MyrDVfk43zA=/4x0:1017x675/1280x854/cdn.vox-cdn.com/uploads/chorus_image/image/65863458/office2016review2_1020.0.0.1442915145.0.jpg);
    background-position: bottom;
    background-size: cover;
    height: 220px;
    position: relative;
}
.intro-details{
    background-color:rgb(62 62 59 / 43%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 100%;
    height: 100%;
}
.intro-details1{
    position: absolute;
    top: 70%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%,-50%);
}
.intro-details h4{
    font-family: Jost;
    font-weight: lighter;
    padding: .5rem;
}
.intro-details h2{
    font-family: Alfa Slab One;
    padding: .5rem;
}
.intro-details h3{
    font-family: Dancing Script;
    padding: .5rem;
}
.my-image-div{
    padding: 1rem;
}
.my-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.graduation-details{
    padding: 0rem 1rem;
    text-align: center;
}
.email-phone{
    padding: 1rem;
}
.linkedin{
    padding: 1rem;
}
.linkedin a{
    color: white;
    font-size: 1.4rem;
}
.download{
    padding: 1rem;
}
.download a{
    color: var(--theme-blue);
    background-color: white;
    text-decoration: none;
    padding: .5rem 1rem;
    border-radius: 40px;
    font-weight: 500;
}
.about{
    background-color: rgb(235 231 249);
    color: var(--theme-blue);
    text-align: left;
}
.about-div{
    padding: 1rem;
}
.education-experiance{
    background-color: white;
    color:var(--theme-blue) ;
}
.education-experiance-div{
    padding: 1rem;
    text-align: left;
}
.item{
    color: black;
    padding: 1rem;
    padding-bottom: 0rem;
}
.skills{
    background-color: var(--light-grey);
    color: #2a39bdd3;
    padding: 1rem;
}
.skills h6{
    color: black;
    padding-left: 0rem;
    font-size: 1rem;
}
.skill-items{
    text-align: left;
    font-family: Jost;
    font-weight: 300;
    padding: 1rem;
}
.skill-item-1{
    border-bottom: 3px solid;
    border-image:   linear-gradient(to right, #2a39bdd3 100%, rgb(199, 199, 196) 0%) 5;
    padding-top: 2rem;
}
.skill-item-2{
    border-bottom: 3px solid;
    border-image:   linear-gradient(to right, #2a39bdd3 80%, rgb(199, 199, 196) 20%) 5;
    padding-top: 2rem;
}
.skill-item-3{
    border-bottom: 3px solid;
    border-image:   linear-gradient(to right, #2a39bdd3 60%, rgb(199, 199, 196 )40%) 5;
    padding-top: 2rem;
}
.skill-item-4{
    border-bottom: 3px solid;
    border-image:   linear-gradient(to right, #2a39bdd3 50%, rgb(199, 199, 196) 50%) 5;
    padding-top: 2rem;
}
.skill-item{
padding-top: 0.5rem;
}
.certifications, .white-head h4{
    color: white;
    text-align: left;
}
.certifications-div{
    padding: 1rem;
}
.interests{
    background-color: white;
    color: var(--theme-blue);
}
.interests-div{
    padding: 1rem;
}
.interest-items{
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    color: black;
    padding-top: 1rem;
}
.interest-items p{
    padding-bottom: 1rem;
    line-height: 1rem;
}
.right-item{
    text-align: right;
}
.foot{
    background-color: var(--light-grey);
    color: var(--theme-blue);
}

.fa-angle-up{
    display: none;
}
.foot h3{
    padding-bottom: 1rem;
}
.bottom-email-phone{
    font-weight: 500;
}
.download-bottom a{
    background-color: var(--theme-blue);
    color: white;
}
.foot-div{
    padding: 1rem;
}
@media only screen and (min-width: 768px){
    
h1{
    font-size: 2rem;
}
h2{
    font-size: 4rem;
    letter-spacing: .3rem;
}
h3{
    font-size: 2.5rem;
}
h4{
    font-size: 1.8rem;
    letter-spacing: .5rem;
}
h5{
    font-size: 1.6rem;
}
h6{
    font-size: 1.4rem;
}
p, ul{    
    font-family: Jost;
    font-weight: 300;
    line-height: 1.9rem;
}
a{
    font-family: Jost;
    font-weight: 300;
    font-size: 1.2rem;
}
li{
    font-size: 1rem;
}
    p{
        font-size: 1.2rem;;
    }
    .nav-bar{
        padding: 1rem 6rem;
        grid-template-columns: 1fr;
    }
.nav-name{
    display: none;
}
.dropdown{
    justify-self: flex-start;
}
.dropbtn{
    display: none;
}
.menu{
    position: relative;
    overflow: auto;
    box-shadow: none;
    z-index: 1;
    color: white;
    text-align: left;
    left: auto;
    margin-top: 0.5rem;
    display: block;
}
.menu a{
    color:white;
    font-size: 1.2rem;
    padding: .5rem 0rem .5rem .5rem;
    padding-right: 0rem;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
.menu a:hover{
    color:rgb(229, 226, 226);
}
.intro-photo-contact{
    display: grid;
    grid-template-columns: 67% 33%;
}
.intro{
    background-size: cover;
    height: auto;
}

.intro-details{
    background-color:rgb(62 62 59 / 43%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 100%;
    height: 100%;
}

.intro-details1{
    position: absolute;
    top: 100%;
    left: 60%;
    width: 100%;
    height: 100%;
    transform: translate(-50%,-50%);
    text-align: left;
}
.intro-details1 h2{
    padding-bottom: 3rem;
}
.intro-details1 h3{
    padding-bottom: 3rem;
}
.intro-details1 h4{
    padding-bottom: 3rem;
}
.photo-contact{
    padding: 0rem 6rem 0rem 2rem
}
.my-image-div{
    padding :0rem
}
.my-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.graduation-details{
    padding: 2rem 1rem;
}
.download{
    padding: 2rem 1rem 4rem  1rem;
}
.download a{
    padding: 1rem 2rem;
}
.about{
    padding: 2rem 6rem;
}
.education-experiance-div{
    padding: 2rem 6rem;
    display: grid;
    grid-template-columns: 50% 50%;
}
.item{
padding: 0rem;
padding-bottom: 2rem;
}
.skills-dev{
    padding: 2rem 6rem;
    text-align: left;
}
.skills h5{
    padding-bottom: 2rem;
}
.skills h6{
    color: black;
    padding-left: 0rem;
    font-size: 1.2rem;
}
.language-skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}
.skill-items{
    padding-bottom: 3rem;
}
.certificates-interests-div{
    padding: 2rem 6rem;
    display: grid;
    grid-template-columns: 60% 40%;
}
.interests{
    height: fit-content;
    align-self: center;
    background-color: var(--light-grey);
}
.interest-items p{
    padding-bottom: 2rem;
}
.common-details{
    text-align: left;
}
.foot-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: left;
    padding: 2rem 6rem;
}
.foot-text{
    text-align: left;
}
.foot-text h3{
    padding-bottom: 2rem;
}
.fa-angle-up{
    display: block;
    display: inline-block;
  border-radius: 60px;
  box-shadow: 2px 2px 2px 2px var(--theme-blue);
  padding: 0.5em 0.6em;
}
.bottom-email-phone{
justify-self: flex-end;
}
.download-bottom{
    padding: 2rem;
}
}